
body{border:0; margin:0; padding:0;}

body {
font-family: sans-serif;
background: gray;
margin: 0;
text-align: center;
}



#nav {

font-size: 12pt;
font-weight: bold;
background: #ccc;
padding: 1.6em;



}

span.left
{
float: left;

}
span.right
{
float: right;
}



#header {
background: maroon;
font-size: 27pt;
padding: 0.25em;
margin-bottom: 0;
}
#link{
color: white;
text-decoration: none;
}

#link2
{
color: maroon;
text-decoration: none;

&:hover {
  color: #fff;
  text-decoration: none;
}
}

#whole_page {
width: 46em;
margin: auto;
padding: 0;
text-align: center;
border-width: 1px 1px 1px 1px;
border-color: black;
border-style: solid;
}

#name
{
color:maroon;
text-decoration: none;
}
