<!-- IMAGE START -->

<li class="  entry-item" data-url="http://9gag.com/gag/5425473" data-text="Everytime when using ctrl+c" gagid="5425473" itemtype="list" id="entry-5425473" style="">

<div class="content">
  <div class="img-wrap">
    <%= link_to(image_tag(image.picture.url(:medium)),image) %>
  </div>
  <div class="fatbigdick all-users-expand"></div>

</div><!--end div.content-->


</li>


<!-- IMAGE END -->
